saving github flavored markdown link here for future reference.

oh seems you can't post links in here

solution was on the url :)

this is the link for future references [github flavored markdown] (https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax)
